
$theme-colors : (
  "primary": #425c5a,
  "secondary": #a2bfbd,
  "danger": #d10a00
);

$custom-colors: (
  "tersier" : #ffcea2
);

$theme-colors : map-merge($theme-colors, $custom-colors);

$body-bg : #f3f9f3;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

.card {
  border-radius: 1rem;
}

.soal {
  div.col-12 {
    p {
      text-align: justify;
      font-size: 115%;
    }
    img {
      width: 100%;
    }
    ul {
      list-style: none;
    }
  }
}

.nomor-soal-container {
  max-height: 350px;
  overflow: auto;
  align-items: flex-start;
}

.nomor-soal, .navigasi {
  flex : 1 0 15%;
  margin: .25rem;
}

